name: Docker Image CI
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - '**/*.y?ml'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/*.md'
      - '**/*.y?ml'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag fok666/azuredevops:$(date +%s) --tag fok666/azuredevops:latest

  push_to_registry:

    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            fok666/azuredevops
            ghcr.io/${{ github.repository }}

      - name: Get the date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: |
          ref="${GITHUB_REF#refs/heads/}"
          ref="${ref#refs/pull/}"
          ref="${ref//\//-}"
          echo "branch=$ref" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            fok666/azuredevops:${{ steps.extract_branch.outputs.branch }}-${{ steps.date.outputs.date }}
            fok666/azuredevops:${{ steps.extract_branch.outputs.branch }}-latest
            fok666/azuredevops:latest
            ghcr.io/${{ github.repository }}:${{ steps.extract_branch.outputs.branch }}-${{ steps.date.outputs.date }}
            ghcr.io/${{ github.repository }}:${{ steps.extract_branch.outputs.branch }}-latest
            ghcr.io/${{ github.repository }}:latest
          labels: ${{ steps.meta.outputs.labels }}

